# ***Prediction using Supervised ML - STUDENT SCORE #TASK1***

**Author:- SUCHIT AGARWAL**

**Data science and buisness analytics internship @SPARKS_FOUNDATION**

**SIMPLE LINEAR REGRESSION  #TASK1**
**In this task we will predict the marks percentage that a student is expected based on the hours of studied. **

In [1]:
#Importing important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#reading the data file using pandas library

dataset = pd.read_csv('C:\\Users\\vasu\\Desktop\\task1\\student_scores.csv')

**DATA PREPROCESSING STARTS HERE**

In [3]:
#few rows of dataset
dataset.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [7]:
#checking the description of data
dataset.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [ ]:
#PLOTTING THE GRAPH TOP CHECK THE RELATION BETWEEN THE ATTRIBUTES

In [ ]:
#Scatter garph to show the realtion between hours & scores

In [ ]:
plt.figure(figsize=(10,6))
plt.grid()
plt.scatter(x= dataset.Hours , y= dataset.Scores , c= 'blue' )
plt.xlabel("HOURS")
plt.ylabel("SCORES")
plt.title("SCORES & HOURS RELATIONSHIP")
plt.show()

In [ ]:
#Checking for any null values
dataset.isnull().sum()

In [ ]:
#SPLITTING THE DATA INTO FEATURES & LABELS
X = dataset.iloc[:,0].values
Y = dataset.iloc[:,1].values

In [ ]:
#splitting the dataset into training & testing 
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X,Y)

In [ ]:
#NOW BUILDING MODEL FOR TRAINING & PREDICTION OF VALUES
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train.reshape(-1,1) , y_train)

In [ ]:
#FINDING THE ACCURACY OF TRAINED MODEL
lr.score(x_train.reshape(-1,1) , y_train)

In [ ]:
#FINDING THE PREDICTIONS
pred_values = lr.predict(x_test.reshape(-1,1))

In [ ]:
print(y_train[:5])

In [ ]:
print(pred_values[:5])

In [ ]:
#FINDING THE ACCURACY OF TESTING MODEL
lr.score(x_test.reshape(-1,1) , y_test)

In [ ]:
#NOW TAKING NO. OF HOURS STUDENTS ARE STUDYING
hours = float(input("enter no. of hours a student is studying \t"))

In [ ]:
hours

In [ ]:
#PREDICTING THE MARKS PERCENTAGE THAT A STUDENT IS EXPECTED BASED ON THE INPUTTED HOURS OF STUDIED
print(f"marks scored based on the inputted hours of studying: {lr.predict([[hours]])[0]}")